#webapp {
  $navbarHeight: 4.4375rem;

  min-height: 100vh;
  // background: #fdfdfd;

  main {
    position: relative;
    background: #ffffff;
    min-height: 100vh;
    -webkit-transition: width 0.3s ease;
    -o-transition: width 0.3s ease;
    transition: width 0.3s ease;
  }

  .padding {
    padding-top: 4.4375rem;
  }

  .full-width {
    width: calc(100% - 90px);
  }

  @media screen and (min-width: 992px) {
    main {
      width: calc(100% - 15.625rem);
      margin-left: auto;
    }
  }

  @media screen and (max-width: 992px) {
    .full-width {
      width: 100%;
    }
  }
}
