<div id="orders-search">
  <div class="row">
    <div class="col-9">
      <div class="input-style1">
        <mat-form-field appearance="outline" [style.width.%]="100">
          <mat-select placeholder="Something">
            <mat-option value="all"> All </mat-option>
            <mat-option value="all"> All </mat-option>
            <mat-option value="all"> All </mat-option>
            <mat-option value="all"> All </mat-option>
            <mat-option value="all"> All </mat-option>
            <mat-option value="all"> All </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col-3">
      <div class="cta-container">
        <button matRipple class="btn rc-btn-flat">SEARCH</button>
      </div>
    </div>
  </div>
</div>
