<div id="orders-search">
  <div class="row">
    <div class="col-4">
      <div class="input-style1 input-bg1">
        <mat-form-field appearance="outline" [style.width.%]="100">
          <span matPrefix class="img-fluid">
            <mat-icon>search</mat-icon>
          </span>
          <input
            matInput
            placeholder="Search for category, name, company, etc"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="col-4">
      <div class="input-style1">
        <mat-form-field appearance="outline" [style.width.%]="100">
          <mat-select placeholder="Search for category, name, company, etc">
            <mat-option value="all"> All </mat-option>
            <mat-option value="all"> All </mat-option>
            <mat-option value="all"> All </mat-option>
            <mat-option value="all"> All </mat-option>
            <mat-option value="all"> All </mat-option>
            <mat-option value="all"> All </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="col-4">
      <div class="cta-container">
        <button matRipple class="btn rc-btn-flat">SEARCH</button>
      </div>
    </div>
  </div>
</div>
