#orders-search {
  padding: 1.5rem;
  border-radius: 1rem;
  background: #ffffff;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 2px 4px 10px 0px #00143d0d;
  box-shadow: 2px 4px 10px 0px #00143d0d;

  .orders-search-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 0.75rem;

    .search-parameter-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      gap: 0.5rem;

      .search-parameter-title {
        font-family: "Greycliff CF", sans-serif;
        font-size: 0.875rem;
        font-weight: 700;
        color: var(--header);
        margin-bottom: 0rem;
      }
    }

    :nth-child(1) {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;

      .input-style1 {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 991.98px) {
  #orders-search {
    .orders-search-row {
      :nth-child(4) {
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  #orders-search {
    .orders-search-row {
      * {
        width: 100%;
      }
    }
  }
}
