@import "colors";

.rc-button-base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.625rem 2rem !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0.625rem !important;
}

.rc-btn-flat {
  @extend .rc-button-base;
  color: #ffffff;
  background: var(--primary-color);
  border: 0.09375rem solid var(--primary-color);

  &:hover {
    color: #ffffff;
    background: var(--primary-color);
  }
}

.rc-btn-outline {
  @extend .rc-button-base;
  color: var(--primary-color);
  background: transparent;
  border: 0.09375rem solid var(--primary-color);

  &:hover {
    color: var(--primary-color);
    background: #ffffff;
  }
}

.rc-btn-full {
  width: 100%;
}

@media screen and (max-width: 767.98px) {
  .rc-button-base {
    font-size: 0.85rem;
    padding: 0.7rem 1.4rem !important;
  }
}
