/* Change the white to any color ;) */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #ffffff00 inset !important;
  box-shadow: 0 0 0 30px #ffffff00 inset !important;
  -webkit-transition: "color 9999s ease-out, background-color 9999s ease-out";
  transition: "color 9999s ease-out, background-color 9999s ease-out";
  -webkit-transition-delay: 9999s;
  transition-delay: 9999s;
}

/* Change font-size and font family of input when autocomplete kicks in*/

input:-webkit-autofill::first-line,
textarea:-webkit-autofill::first-line {
  font-family: "Inter", sans-serif !important;
  font-size: 0.875rem !important;
  font-weight: 600 !important;
  color: #222222 !important;
}

// input[type="time"]::-webkit-calendar-picker-indicator {
//   background: url(/assets/icons/clock.svg) no-repeat;
// }

/******************Make arrow on input type number to disappear******************/
/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type="number"] {
  -moz-appearance: textfield;
}
/********************************************************************************/

input,
textarea,
.mat-select-value,
textarea.mat-input-element,
.custom-textarea {
  -o-text-overflow: ellipsis !important;
  text-overflow: ellipsis !important;
  font-size: 0.875rem !important;
  font-weight: 600 !important;
  color: #222222 !important;
  vertical-align: middle !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #989db3 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0.875rem 0 0 0.875rem !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 0 0.875rem 0.875rem 0 !important;
}

.mat-form-field-appearance-outline .mat-form-field-outline-start,
.mat-form-field-appearance-outline .mat-form-field-outline-end {
  min-width: 0.875rem !important;
}

.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 0rem !important;
  margin-top: 0rem !important;
}

.mat-option-text {
  font-weight: 600;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #ffffff;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: var(--primary-color);
}

.mat-form-field-appearance-outline .mat-form-field-prefix,
.mat-form-field-appearance-outline .mat-form-field-suffix {
  top: 0.01em !important;
}

textarea {
  resize: none !important;
}

.input-style1 {
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0rem;
    padding-bottom: 0rem;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    margin-top: 0em;
  }

  .mat-form-field-appearance-outline .mat-form-field-outline {
    top: 0em;
  }

  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 12px 0 12px 0;
    border-top: none;
  }

  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
  }
}

.input-style_1 {
  .mat-form-field-label-wrapper > .mat-form-field-label {
    color: #4d4d4d !important;
    font-weight: 600 !important;
    font-size: 0.875rem !important;
  }

  .mat-form-field-appearance-outline .mat-form-field-flex {
    padding: 1em 1em 0 1em !important;
  }

  .mat-form-field-flex > .mat-form-field-infix {
    padding: 1em 0 0.625em 0 !important;
    border-top: none;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-label {
    -webkit-transform: translateY(-0.7em) scale(0.85);
    -ms-transform: translateY(-0.7em) scale(0.85);
    transform: translateY(-0.7em) scale(0.85);
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float
    .mat-form-field-outline-gap {
    border-top-color: unset;
  }

  .mat-select-trigger {
    height: 0em !important;
  }

  .mat-select-value-text {
    font-weight: 600;
  }

  .mat-select-trigger {
    vertical-align: middle;
  }

  /*Centering select dropdown toggle*/

  .mat-form-field-appearance-outline .mat-select-arrow-wrapper {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .mat-form-field-appearance-outline.mat-form-field-disabled {
    .mat-form-field-label,
    input,
    .mat-select-value {
      color: #b2b5b7 !important;
    }

    .mat-form-field-outline {
      color: #efefef !important;
    }
  }
}
