.mat-table {
  font-family: "Greycliff CF", sans-serif !important;
  width: 100% !important;

  td,
  th {
    white-space: nowrap !important;
    padding-right: 1.5625rem !important;

    &:first-child {
      width: 5% !important;
    }
  }

  td {
    color: #222222 !important;
    font-size: 0.75rem !important;
  }

  td.mat-cell {
    border-bottom-color: rgba(209, 216, 245, 0.6) !important;
  }

  th.mat-header-cell {
    border-bottom: none !important;
  }

  thead {
    background: var(--bg1) !important;
  }

  tr.mat-header-row {
    height: 3rem !important;
  }

  .mat-sort-header-content {
    font-size: 0.875rem !important;
    font-weight: 600 !important;
    color: #222222 !important;
  }

  .mat-sort-header-arrow {
    color: var(--primary-color) !important;
  }

  .table-cta-container {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
    width: 2.1875rem !important;
    height: 2.1875rem !important;
    border-radius: 50% !important;
    cursor: pointer;
  }
}

.custom-tooltip {
  background: #333333 !important;
  color: #ffffff !important;
  font-size: 0.6875rem !important;
}
