<div id="orders-table">
    <div class="orders-table-header">
        <h4 class="header">Product Summary</h4>
    </div>

  <ng-container *ngIf="data !== null && dataSource; else noTableData">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              color="primary"
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              color="primary"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Process</th>
          <td mat-cell *matCellDef="let row">
            {{ row.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="createdDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Created Date
          </th>
          <td mat-cell *matCellDef="let row">{{ row.createdDate | date }}</td>
        </ng-container>

        <ng-container matColumnDef="lastModifiedDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>
            Last Modified Date
          </th>
          <td mat-cell *matCellDef="let row">
            {{ row.lastModifiedDate | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="processStatus">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
          <td mat-cell *matCellDef="let row">
            <span
              class="status"
              [ngClass]="{
                'status-active': row['processStatus'] === 5,
                'status-inactive': row['processStatus'] === 1,
                'status-deactivated': row['processStatus'] === 3
              }"
            >
              <span>{{ row.processStatusDesc }}</span>
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions</th>
          <td mat-cell *matCellDef="let row">
            <div class="d-flex align-items-center">
              <div class="table-cta-container mr-2" matRipple>
                <svg
                  matTooltip="View"
                  matTooltipPosition="above"
                  matTooltipClass="custom-tooltip"
                  width="20"
                  height="14"
                  viewBox="0 0 20 14"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M19.7692 6.37611C17.8114 3.05382 14.1601 0.833374 10 0.833374C5.8382 0.833374 2.18765 3.05538 0.23078 6.37611C0.079686 6.6325 0 6.92467 0 7.22227C0 7.51987 0.079686 7.81204 0.23078 8.06843C2.18859 11.3907 5.83994 13.6111 10 13.6111C14.1618 13.6111 17.8123 11.3891 19.7692 8.0684C19.9203 7.81201 20 7.51985 20 7.22225C20 6.92466 19.9203 6.63249 19.7692 6.37611ZM10 11.9445C7.39021 11.9445 5.27779 9.83242 5.27779 7.22225C5.27779 4.61246 7.3898 2.50004 10 2.50004C12.6098 2.50004 14.7222 4.61205 14.7222 7.22225C14.7222 9.83204 12.6102 11.9445 10 11.9445ZM13.6111 7.22225C13.6111 9.21662 11.9944 10.8334 10 10.8334C8.00563 10.8334 6.3889 9.21662 6.3889 7.22225C6.3889 6.60739 6.54275 6.02854 6.81376 5.5218L6.81372 5.52291C6.81372 6.34413 7.47945 7.00982 8.30066 7.00982C9.12188 7.00982 9.78761 6.34409 9.78761 5.52291C9.78761 4.7017 9.12188 4.03597 8.30066 4.03597L8.29955 4.03601C8.80629 3.765 9.38514 3.61115 10 3.61115C11.9944 3.61115 13.6111 5.22788 13.6111 7.22225Z"
                    fill="#989DB3"
                  />
                </svg>
              </div>

              <!--<div class="toggle-container">
                    <mat-slide-toggle
                      class="example-margin"
                      color="primary"
                      matTooltipPosition="above"
                      matTooltipClass="custom-tooltip"
                      [matTooltip]="row.status === 1 ? 'Deactivate' : 'Activate'"
                      [checked]="row.status === 1 ? 'true' : 'false'"
                      (toggleChange)="onToggle(row)"
                    >
                    </mat-slide-toggle>
                  </div>-->
            </div>
            <ng-template #noActions> Unauthorized </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No matching data"</td>
        </tr>
      </table>
    </div>

    <mat-paginator
      [pageSizeOptions]="[
        5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90,
        95, 100
      ]"
      showFirstLastButtons
      [pageSize]="10"
      [hidePageSize]="false"
      [length]="totalRecords"
      (page)="onPaginationChange($event)"
    ></mat-paginator>
  </ng-container>

  <ng-template #noTableData>
    <app-table-loader></app-table-loader>
  </ng-template>
</div>
