<div id="orders-table">
  <div class="orders-table-header">
    <h4 class="header">Product Summary</h4>

    <div class="right-section">
      <div class="parameter-container">
        <p class="parameter-title">Show</p>

        <div class="input-style1">
          <mat-form-field appearance="outline" [style.width.%]="100">
            <mat-select value="all columns">
              <mat-option value="all columns"> All Columns </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <button matRipple class="btn rc-btn-flat">DISPATCH SELECTED</button>
    </div>
  </div>

  <ng-container *ngIf="data !== null && dataSource; else noTableData">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox
              color="primary"
              (change)="$event ? masterToggle() : null"
              [checked]="selection.hasValue() && isAllSelected()"
              [indeterminate]="selection.hasValue() && !isAllSelected()"
              [aria-label]="checkboxLabel()"
            >
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox
              color="primary"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null"
              [checked]="selection.isSelected(row)"
              [aria-label]="checkboxLabel(row)"
            >
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let row">
            {{ row.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="value">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
          <td mat-cell *matCellDef="let row">{{ row.value }}</td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
          <td mat-cell *matCellDef="let row">
            {{ row.date | date }}
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let row">
            <div class="d-flex align-items-center">
              <div class="table-cta-container mr-2" matRipple>
                <svg
                  matTooltip="Edit"
                  matTooltipPosition="above"
                  matTooltipClass="custom-tooltip"
                  width="20"
                  height="18"
                  viewBox="0 0 20 18"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M13.9792 2.99797L17.1111 6.12991C17.2431 6.26185 17.2431 6.47713 17.1111 6.60908L9.52778 14.1924L6.30556 14.55C5.875 14.5987 5.51042 14.2341 5.55903 13.8035L5.91667 10.5813L13.5 2.99797C13.6319 2.86602 13.8472 2.86602 13.9792 2.99797ZM19.6042 2.20283L17.9097 0.508382C17.3819 -0.0193956 16.5243 -0.0193956 15.9931 0.508382L14.7639 1.73755C14.6319 1.86949 14.6319 2.08477 14.7639 2.21672L17.8958 5.34866C18.0278 5.4806 18.2431 5.4806 18.375 5.34866L19.6042 4.11949C20.1319 3.58824 20.1319 2.7306 19.6042 2.20283ZM13.3333 12.1299V15.6646H2.22222V4.55352H10.2014C10.3125 4.55352 10.4167 4.50838 10.4965 4.43199L11.8854 3.0431C12.1493 2.77922 11.9618 2.3313 11.5903 2.3313H1.66667C0.746528 2.3313 0 3.07783 0 3.99797V16.2202C0 17.1403 0.746528 17.8869 1.66667 17.8869H13.8889C14.809 17.8869 15.5556 17.1403 15.5556 16.2202V10.741C15.5556 10.3695 15.1076 10.1855 14.8438 10.4459L13.4549 11.8348C13.3785 11.9146 13.3333 12.0188 13.3333 12.1299Z"
                    fill="#989DB3"
                  />
                </svg>
              </div>
            </div>
            <ng-template #noActions> Unauthorized </ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No matching data"</td>
        </tr>
      </table>
    </div>

    <mat-paginator
      [pageSizeOptions]="[
        5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90,
        95, 100
      ]"
      showFirstLastButtons
      [pageSize]="10"
      [hidePageSize]="false"
      [length]="totalRecords"
      (page)="onPaginationChange($event)"
    ></mat-paginator>
  </ng-container>

  <ng-template #noTableData>
    <app-table-loader></app-table-loader>
  </ng-template>
</div>
