#orders-table {
  padding: 1.5rem;
  border-radius: 1rem;
  background: #ffffff;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 2px 4px 10px 0px #00143d0d;
  box-shadow: 2px 4px 10px 0px #00143d0d;
}
