#orders-table {
  border-radius: 1rem;
  background: #ffffff;
  margin-bottom: 1.5rem;
  -webkit-box-shadow: 2px 4px 10px 0px #00143d0d;
  box-shadow: 2px 4px 10px 0px #00143d0d;
  overflow: hidden;

  .orders-table-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    gap: 0.5rem;
    padding: 0.875rem 1.5rem;

    .header {
      font-size: 1.125rem;
      font-weight: 700;
      color: var(--header);
      margin-bottom: 0rem;
    }

    .right-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      gap: 0.5rem;
      
      .parameter-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        gap: 0.5rem;

        .parameter-title {
          font-weight: 600;
          margin-bottom: 0rem;
        }
      }
    }
  }
}
